.NavItem {
  margin: 10px;
}

.NavItem a {
  color: white;
  padding: 8px 8px 4px 8px;
  text-decoration: none;
  width: 100%;
}

.NavItem a:hover {
  background: white;
  border-radius: 4px;
  color: black;
}
