.NavItem {
  margin: 10px;
  width: 100%;
}

.NavItem a {
  color: white;
  padding: 8px;
  text-decoration: none;
  width: 100%;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  background: white;
  border-radius: 4px;
  color: black;
}
