.Container {
  background: rgb(233, 233, 233);
  border: 2px solid rgb(44, 44, 44);
  border-radius: 10px;
  margin: 12px 8px;
  width: 315px;
}

.Container div:last-child {
  border-bottom: none;
  border-radius: 7px;
}
