.Container {
  margin: 8px;
}

.Edit {
  background-color: white;
  border-radius: 4px;
}

.Input {
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  color: black;
  display: block;
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  outline: none;
  padding: 6px 10px;
  text-align: center;
  width: 200px;
}

.Disabled {
  color: rgb(61, 61, 61);
  background-color: rgb(233, 233, 233);
}

.Label {
  color: rgb(61, 61, 61);
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-left: 12px;
}

.Long {
  width: 300px;
}
