.Accent {
  background: rgb(36, 184, 31);
}

.Button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Rosario', sans-serif;
  margin: 0;
  outline: none;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Corner {
  border-radius: 0 8px 0 0;
  font-size: 14px;
  padding: 10px 10px;
  width: 60px;
}

.CornerBottom {
  border-radius: 0 0 4px 0;
  font-size: 12px;
  padding: 8px 8px;
  width: 50px;
}

.Fab {
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  height: 20px;
  padding: 0 5px 3px 5px;
  width: 20px;
}

.Flat {
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  margin: 8px;
  padding: 0 5px 3px 5px;
  width: 100px;
}

.Primary {
  background: rgb(184, 31, 31);
}

.Primary.Flat {
  background: transparent;
  color: rgb(184, 31, 31);
}

.Primary.Flat:hover {
  background: rgba(184, 31, 31, 0.1);
}

.Primary.Raised:hover {
  background: white;
  color: rgb(184, 31, 31);
}

.Warn {
  background: rgb(66, 66, 211);
}

.Warn.Flat {
  background: transparent;
  color: rgb(66, 66, 211);
}

.Warn.Flat:hover {
  background: rgba(66, 66, 211, 0.1);
}
.Warn.Raised:hover {
  background: white;
  color: rgb(66, 66, 211);
}

.Raised {
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  height: 40px;
  margin: 8px;
  padding: 0 5px 3px 5px;
  width: 100px;
}
