.Container {
  border: 2px solid rgb(61, 61, 61);
  border-radius: 7px;
  height: 90px;
  margin: 12px 8px;
  width: 90px;
}

.Edit {
  background-color: white;
}

.Input {
  border: none;
  border-radius: 8px;
  color: black;
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  margin-bottom: 4px;
  outline: none;
  padding: 8px 4px;
  text-align: center;
  width: 100%;
}

.Inset {
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(61, 61, 61);
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  margin: auto;
  text-align: center;
  width: 50px;
}

.Disabled {
  background-color: rgb(240, 240, 240);
}

.Label {
  border-radius: 7px;
  color: rgb(61, 61, 61);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
  text-transform: capitalize;
}
