.Container {
  margin: 6px 10px;
}

.Edit {
  background: white;
  border-radius: 4px;
}

.Input {
  border: none;
  border-bottom: 1px solid rgb(149, 149, 149);
  color: black;
  display: inline-block;
  font-family: 'Rosario', sans-serif;
  font-size: 20px;
  margin: 0 5px;
  outline: none;
  text-align: center;
  width: 40px;
}

.Disabled {
  background-color: rgb(233, 233, 233);
}

.Label {
  color: rgb(61, 61, 61);
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.Toggle {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  padding: 6px;
  vertical-align: middle;
  width: 8px;
}

.Toggled {
  background: rgb(61, 61, 61);
}
