.Column {
  display: flex;
  flex-direction: column;
}

.Column div {
  border-bottom: 1px solid rgb(149, 149, 149);
  color: rgb(61, 61, 61);
  display: inline-block;
  font-family: 'Rosario', sans-serif;
  font-size: 20px;
  margin: 0 5px;
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6px 0;
}

.Input1 {
  width: 50px;
}

.Input2 {
  width: 80px;
}

.Input3 {
  width: 130px;
}

input:disabled {
  -webkit-text-fill-color: rgb(61, 61, 61);
}

.Label {
  color: rgb(61, 61, 61);
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
}
