.Container {
  border: 2px solid rgb(61, 61, 61);
  border-radius: 7px;
  height: 70px;
  margin: 8px;
  width: 305px;
}

.Edit {
  background-color: white;
}

.Input {
  border: none;
  border-radius: 8px;
  font-family: 'Rosario', sans-serif;
  font-size: 20px;
  outline: none;
  padding: 8px 4px;
  text-align: center;
  width: 100%;
}

input:disabled {
  -webkit-text-fill-color: rgb(61, 61, 61);
}

.Disabled {
  color: rgb(61, 61, 61);
  background-color: rgb(233, 233, 233);
}

.Label {
  color: rgb(61, 61, 61);
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
