.Accent {
  background: rgb(45, 170, 45);
}

.Button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Rosario', sans-serif;
  margin: 0;
  outline: none;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.CornerTopLeft {
  border-radius: 8px 0 0 0;
  font-size: 14px;
  padding: 10px 10px;
}

.CornerTopLeft:hover {
  background: white;
  color: black;
}

.CornerTopRight {
  border-radius: 0 8px 0 0;
  font-size: 14px;
  padding: 10px 10px;
}

.CornerTopRight:hover {
  background: white;
  color: black;
}

.CornerBottomLeft {
  border-radius: 0 0 0 4px;
  font-size: 14px;
  padding: 8px 8px;
}

.CornerBottomLeft:hover {
  background: white;
  color: black;
}

.CornerBottomRight {
  border-radius: 0 0 4px 0;
  font-size: 14px;
  padding: 8px 8px;
}

.CornerBottomRight:hover {
  background: white;
  color: black;
}

.DarkGrey {
  background: rgb(70, 70, 70);
}

.Fab {
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  height: 20px;
  padding: 0 5px 3px 5px;
  width: 20px;
}

.Flat {
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  margin: 4px;
  padding: 0 5px 3px 5px;
  width: 100px;
}

.Primary {
  background: rgb(170, 45, 45);
}

.Primary.Flat {
  background: transparent;
  color: rgb(170, 45, 45);
}

.Primary.Flat:hover {
  background: rgba(184, 31, 31, 0.1);
}

.Primary.Raised:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

.Warn {
  background: rgb(58, 58, 177);
}

.Warn.Flat {
  background: transparent;
  color: rgb(58, 58, 177);
}

.Warn.Flat:hover {
  background: rgba(66, 66, 211, 0.1);
}
.Warn.Raised:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

.Raised {
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  height: 40px;
  margin: 8px;
  padding: 0 5px 3px 5px;
  width: 100px;
}
