.Jumbotron {
  background: rgb(44, 44, 44);
  color: white;
  height: 140px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.Header {
  font-family: 'Metamorphous', cursive;
  font-size: 42px;
  margin: 16px 0 0 0;
}

.SubHeader {
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  margin: 0;
}
