.Body {
  background-color: rgb(233, 233, 233);
  border-radius: 0 0 8px 8px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  border-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Rosario', sans-serif;
  height: 100%;
  margin: 16px;
  width: 690px;
}

.Header {
  background-color: rgb(44, 44, 44);
  border-radius: 8px 8px 0 0;
  color: white;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
}

.Header h1 {
  margin: 8px;
}

.Title {
  font-family: 'Metamorphous', cursive;
  text-align: center;
}
