.Body {
  background-color: rgb(233, 233, 233);
  border-radius: 0 0 8px 8px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card {
  border-radius: 8px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Rosario', sans-serif;
  margin: 24px 16px 16px 16px;
  width: 690px;
}

.HeaderEdit {
  background-color: rgb(44, 44, 44);
  border-radius: 8px 8px 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 16px;
}

.Header {
  background-color: rgb(44, 44, 44);
  border-radius: 8px 8px 0 0;
  color: white;
  text-align: center;
}

.Header h1 {
  margin: 0px;
  padding: 16px 32px;
}

.Title {
  font-family: 'Metamorphous', cursive;
  margin: 12px;
  text-align: center;
}

@media (max-width: 730px) {
  .Card {
    width: 330px;
  }

  .Body {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
