.Jumbotron {
  background: rgb(44, 44, 44);
  color: white;
  height: 170px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.Header {
  font-family: 'Metamorphous', cursive;
  font-size: 72px;
  margin: 16px 0 0 0;
}

.SubHeader {
  font-family: 'Rosario', sans-serif;
  font-size: 32px;
  margin: 0;
}
