.Jumbotron {
  background: linear-gradient(rgba(54, 54, 54, 0.8), transparent)
    rgb(44, 44, 44);
  box-shadow: inset 3px 3px 7px 3px rgba(0, 0, 0, 0.5);
  color: white;
  height: 180px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.Header {
  font-family: 'Metamorphous', cursive;
  font-size: 72px;
  margin: 16px 0 8px 0;
}

.SubHeader {
  font-family: 'Rosario', sans-serif;
  font-size: 32px;
  margin: 8px;
}
