.Container {
  border: 2px solid rgb(61, 61, 61);
  border-radius: 7px;
  margin: 8px;
  width: 305px;
}

.Edit {
  background-color: white;
}

.Input {
  border: none;
  border-radius: 8px;
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  height: 300px;
  outline: none;
  padding: 8px 4px;
  width: 100%;
}

input:disabled {
  -webkit-text-fill-color: rgb(61, 61, 61);
}

.Disabled {
  color: rgb(61, 61, 61);
  background: rgb(233, 233, 233);
}

textarea {
  resize: none;
}
