.Container {
  background: rgb(233, 233, 233);
  border: 2px solid rgb(75, 75, 75);
  border-radius: 7px;
  margin: 8px;
  width: 180px;
}

.Label {
  background: rgb(85, 85, 85);
  border-radius: 0 0 4px 4px;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  padding: 4px;
  text-align: center;
}
