.NavBar {
  align-items: center;
  background: linear-gradient(rgba(211, 62, 62, 0.8), transparent)
    rgb(135, 28, 28);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  font-family: 'Metamorphous', cursive;
  height: 48px;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.NavBar nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  list-style: none;
}
