.Container {
  border: 2px solid rgb(92, 92, 92);
  border-radius: 7px;
  height: 80px;
  margin: 8px;
  width: 140px;
}

.Edit {
  background-color: white;
}

.Input {
  border: none;
  border-radius: 8px;
  display: inline;
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  outline: none;
  padding: 4px;
  text-align: center;
}

.Disabled {
  background-color: rgb(233, 233, 233);
}

.Label {
  color: rgb(92, 92, 92);
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
